@media(width < 720px) {
  .UserProfileCard {
    & .MuiCardHeader-avatar {
      display: none;
    }
    & .MuiButton-label {
      color: bisque;
    }
    &.MuiBox-root {
      color: bisque;
      background: rebeccapurple;
    }
  }
}
