registry=https://registry-node.aliyun.com/org/1599647933807991/registry/symbols/
//registry-node.aliyun.com/org/1599647933807991/registry/symbols/:_password=RUtzamJNV25LU2Na
//registry-node.aliyun.com/org/1599647933807991/registry/symbols/:username=user_1366075552753195
//registry-node.aliyun.com/org/1599647933807991/registry/symbols/:email=007@o-w-o.ink
//registry-node.aliyun.com/org/1599647933807991/registry/symbols/:always-auth=false
